version: '3'

services:
  app:
    build: ./
    ports:
      - '8080:8000'
    volumes:
      - ../symfony_6_project:/var/www
###> doctrine/doctrine-bundle ###
  database:
    image: mysql:latest
    ports:
      - '3306:3306'
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_ROOT_PASSWORD: 'password'
      # You should definitely change the password in production
      MYSQL_PASSWORD: 'password'
      MYSQL_USER: 'user'
    volumes:
      - database_data:/var/lib/mysql
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
